In [4]:
# Importing necessary libs
import pandas as pd
import numpy as np
import os

In [5]:
import os
import pandas as pd

PATH = 'data/'


def merge_datasets():
    """
    Function to merge all the datasets in the specified directory and create a single dataset
    with an additional 'spending_type' column to identify income and expenses.
    """
    df_income = [] 
    df_expense = []
    for file in os.listdir(PATH):
        if file.endswith('.xlsx') or file.endswith('.csv'):  # Corrected the condition
            # Data with income
            df_income_temp = pd.read_excel(f'{PATH}{file}', skiprows=1, sheet_name='Income')
            df_income_temp['spending_type'] = 'Income'  # identifier column
            df_income.append(df_income_temp)

            # Data with expense
            df_expense_temp = pd.read_excel(f'{PATH}{file}', skiprows=1, sheet_name='Expenses')
            df_expense_temp['spending_type'] = 'Expense'  # identifier column
            df_expense.append(df_expense_temp)

    # concatenate income and expense data into a single DataFrame
    df_income = pd.concat(df_income, ignore_index=True)
    df_expense = pd.concat(df_expense, ignore_index=True)

    # merge income and expense data
    df_combined = pd.concat([df_income, df_expense], ignore_index=True)
    
    # Cleaning the data
    df_combined.sort_values(by='Date and time', inplace=True)
    # remove columns
    df_combined.drop(['Amount in account currency', 'Account currency','Transaction amount in transaction currency', 'Transaction currency', 'Tags', 'Account'], axis=1, inplace=True)

    return df_combined

In [6]:
df = merge_datasets()
df

,Date and time,Category,Amount in default currency,Default currency,Comment,spending_type
144,2023-04-28,SIM,50.00,CAD,Deposit should return by october,Expense
13,2023-05-02,Other,1350.00,CAD,Withdrawal from Laxmi Bank Card 1.80 left,Income
143,2023-05-03,Groceries,74.52,CAD,Utensils and some snacks,Expense
138,2023-05-05,Transportation,5.89,CAD,NaN,Expense
139,2023-05-05,SIM,128.19,CAD,NaN,Expense
...,...,...,...,...,...,...
147,2024-09-24,Cafe,34.28,CAD,NaN,Expense
146,2024-09-25,Groceries,69.55,CAD,NaN,Expense
15,2024-09-26,Balancing,8.00,CAD,NaN,Income
14,2024-09-27,Paycheck,149.00,CAD,NaN,Income
145,2024-09-29,Cafe,23.71,CAD,NaN,Expense